#hive-table-body{
    overflow: auto;
    border: 1px#d1d0d0 solid;
}

#hive-searcher .search-bar {
    display: flex;
    border-radius: .5rem;
    border: 2px #e3e4e5 solid;
    overflow: hidden;
}

#hive-searcher .search-bar * {
    font-size: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    padding: .5rem;
}

#hive-searcher .search-bar input {
    width: 40vw;
    outline:none;
    border: 0;
}

#hive-searcher .search-bar i {
    border-left: 2px #e3e4e5 solid;
}

#hive-searcher .btn-base {
    cursor: pointer; 
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* #hive-table-view {
    border-collapse: collapse;
    width: 100%;
}

#hive-table-view thead{
    background-color: #e7e6e6;
}

#hive-table-view thead th{
    background-color: #e7e6e6;
    padding: 1rem .75rem;
    border: 2px #d1d0d0 solid;
    border-bottom: 2px #d1d0d0 solid;
}

#hive-table-view tbody td{
    padding: .4rem .75rem;
    border: 1px #d1d0d0 solid;
} */

#hive-table-header {
    padding: .4rem .75rem;
    border: 2px #d1d0d0 solid;
    border-bottom: 0px;
    background-color: #e7e6e6;
    display: flex;
    justify-content: space-between;
}

#hive-searcher .page-choser {
    display: flex;
    border-radius: .35rem;
    overflow: hidden;
    border: 1px #d1d0d0 solid;
}

#hive-searcher .page-chose-btn {
    /* margin: 0.5px; */
    cursor: pointer; 
    display: inline-block;
    font-weight: 400;
    color: #007bff;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#hive-searcher .page-chose-btn:hover,
#hive-searcher .page-chose-btn-chosed{
    color: #0056b3 ;
    text-decoration: none ;
    background-color: #8fc7ff ;
    border-color: #0056b3;
}

#hive-searcher .page-chose-btn-noactive {
    color: #dee2e6 !important;
    text-decoration: none !important;
    border-color: #dee2e6 !important;
    background-color: unset !important;
}

#hive-searcher .hive-table-header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#hive-searcher .hive-table-title-and-filter{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 0.2rem;
}

#hive-searcher .hive-table-title-and-filter .fa-filter{
    font-size: .9rem;
    margin-right: .2rem;
    color: rgb(153, 153, 153);
}

#hive-searcher .hive-table-title-and-filter .fa-filter:hover{
    color: var(--title-green);
}

#hive-searcher .btn-update {
    color: #333;
    background-color: #eee;
    border-color: #adb5bd;
    box-shadow: none;
}

#hive-searcher .btn-update:hover {
    color: #333;
    background-color: #7b8186;
    border-color: #7b8186;
    box-shadow: none;
}