 <!-- {% verbatim %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/TreeStudioAPIs/HAPTreeStudio.ico" type="image/x-icon">
    <title>HAP TREE STUDIO</title>
	<!-- 導入Vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <script src="/static/TreeStudioAPIs/Vue2/vue.js"></script>

    <script type="text/javascript" src="/static/TreeStudioAPIs/Misc/DateFormat.js"></script>

    <link rel="stylesheet" href="/static/TreeStudioAPIs/MainToolBox/style.css">
    <link rel="stylesheet" href="/static/TreeStudioAPIs/HomePage/style.css">
    <link rel="stylesheet" href="/static/TreeStudioAPIs/TopMenu/style.css">
    <link rel="stylesheet" href="/static/TreeStudioAPIs/LoadingWindow/style.css">

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script> -->
    <script src="/static/TreeStudioAPIs/animeJS/anime.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script> -->

    <link rel="stylesheet" href="/static/TreeStudioAPIs/fontawesome-free/css/all.min.css">

	<!-- <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    /> -->
    <link rel="stylesheet" href="/static/TreeStudioAPIs/animateCSS/animate.min.css">
    
    <script src="/static/TreeStudioAPIs/Misc/Params.js"></script>

</head>

<body>
    <div id='vue-load-success-window'>
        <transition name="delay-display-out">
            <div id='vue-load-success' v-if="openLoadSuccessWindow">
                <div style="height: fit-content;position: relative;top: 12vh;z-index: 2;">
                    <div class="vue-load-success-content-3"></div>
                    <div class="vue-load-success-content"></div>
                    <div class="vue-load-success-content-2"></div>
                </div>
                <div style='position: fixed;top:0;left:0;width:100%;height:100%;'>

                    
                    <div class='loading-window-table-item'
                        style="bottom: 10vh;left: 3vw;"
                    >
                        <div class="anima-updown-in-5-sec-30px">
                            <i 
                            class="fab fa-python icon-on 
                            anima-rotate-in-3-sec-10deg
                            "
                            ></i>
                        </div>
                        <i class="fas fa-dice-d6 icon-table
                        anima-updown-in-3-sec-50px"></i>
                    </div>
                    <div class='loading-window-table-item'
                        style="bottom: -10vh;left: 26vw;"
                    >
                        <div class="anima-updown-in-5-sec-30px"
                            :style="'animation-delay:'+Math.random()*-3+'s;'"
                        >
                            <i 
                            class="fas fa-calendar-alt icon-on 
                            anima-rotate-in-3-sec-10deg
                            "
                            :style="'animation-delay:'+Math.random()*-3+'s;'"
                            ></i>
                        </div>
                        <i class="fas fa-dice-d6 icon-table
                        anima-updown-in-3-sec-50px"
                        :style="'animation-delay:'+Math.random()*-3+'s;'"
                        ></i>
                    </div>
                    <div class='loading-window-table-item'
                        style="bottom: -10vh;right: 26vw;"
                    >
                        <div class="anima-updown-in-5-sec-30px"
                        :style="'animation-delay:'+Math.random()*-3+'s;'">
                            <i 
                            class="fas fa-table icon-on 
                            anima-rotate-in-3-sec-10deg
                            "
                            :style="'animation-delay:'+Math.random()*-3+'s;'"
                            ></i>
                        </div>
                        <i class="fas fa-dice-d6 icon-table
                        anima-updown-in-3-sec-50px"
                        :style="'animation-delay:'+Math.random()*-3+'s;'"></i>
                    </div>
                    <div class='loading-window-table-item'
                        style="bottom: 10vh;right: 3vw;"
                    >
                        <div class="anima-updown-in-5-sec-30px"
                        :style="'animation-delay:'+Math.random()*-3+'s;'">
                            <i 
                            class="fas fa-link icon-on 
                            anima-rotate-in-3-sec-10deg
                            "
                            :style="'animation-delay:'+Math.random()*-3+'s;'"
                            ></i>
                        </div>
                        <i class="fas fa-dice-d6 icon-table
                            anima-updown-in-3-sec-50px
                        "
                        :style="'animation-delay:'+Math.random()*-3+'s;'"></i>
                    </div>


                    <div style="transform: scaleY(0.5);
                    position: fixed;
                    bottom: 10vh;">
                        <i class="fas fa-circle" style="
                            color: rgb(0, 123, 255);
                            font-size: 100vw;
                            bottom: 150vh;
                            position: fixed;
                            left: 0px;
                            z-index: 3;
                            text-shadow: rgb(0 123 255) 0rem 50rem 400rem;
                        "></i>
                        <i class="far fa-circle" style="color: rgba(255, 255, 255, 0.1);
                        font-size: 100vw;
                        bottom: -40vh;
                        position: fixed;
                        left: 0;"></i>
                    </div>
                </div>

            </div>
        </transition>
        <div id='vue-loading-window' v-if="closeLoadingWindow">
            Loading...
        </div>
    </div>

    <div id='main-window-grid'>
        <div id='main-toolbox' :class="smallToolBox?'small-toolbox':''">
            <div id='main-toolbox-backbtn' @click="smallToolBox = false"></div>
            <div id='main-toolbox-header' class='mouse-pointer' @click="changePage({},'Home')"> 
                <!-- <img src="https://cxl9h003.de.r.appspot.com/static/dist/img/logo3.png"></img> -->
                
                <img src="/static/TreeStudioAPIs/HAPTreeStudio.png"></img>
                <div class='home-icon-string'>AKIRA PORTAL</div>
            </div>
            <ul style="list-style: none;padding: 0 .5rem;font-size:1rem;margin-top: 0.5rem;">
                <li 
                v-for="(labelItem, labelName, index) of D_labelList" 
                class='main-toolbox-label-btn'
                >
                    <div
                    :class='chosedPage==labelName?"main-toolbox-label-btn-active":""'
                    v-if="labelItem.Type == 'Home'"
                    class='main-toolbox-label-flex'
                    @click="changePage(labelItem,labelName)"
                    >
                        <i class='lable-icon' v-if='labelItem.icon != undefined' :class="labelItem.icon"></i>
                        <div class='lable-string'>{{labelItem.Name}}</div>
                    </div>
        
                    <!-- 純超連結 -->
                    <a
                    v-else-if="labelItem.Type == 'URL'"
                    class='main-toolbox-label-flex'
                    :class='chosedPage==labelName?"main-toolbox-label-btn-active":""'
                    :href="labelItem.URL"
                    target='_blank'
                    @click="changePage(labelItem,labelName)"
                    >
                        <i class='lable-icon' v-if='labelItem.icon' :class="labelItem.icon"></i>
                        <div class='lable-string' style='dispaly: flex;'>
                            <div>{{labelItem.Name}}</div>
                            
                            <!-- <i class="fas fa-external-link-alt"></i> -->
                        </div>
                    </a>
        
                    <!-- 頁面切換(Page) -->
                    <div
                    :class='chosedPage==labelName?"main-toolbox-label-btn-active":""'
                    class='main-toolbox-label-flex'
                    v-else-if="labelItem.Type == 'Page'"
                    @click="changePage(labelItem,labelName)"
                    >
                        <i class='lable-icon' v-if='labelItem.icon' :class="labelItem.icon"></i>
                        <div class='lable-string'>{{labelItem.Name}}</div>
                    </div>
        
                    <!-- List -->
                    <div
                    v-else-if="labelItem.Type == 'List'"
                    >
                        <div @click="labelItem.opened = !labelItem.opened"
                        class='main-toolbox-label-flex'
                        >
                            <i class='lable-icon' v-if='labelItem.icon' :class="labelItem.icon"></i>
                            <img v-else-if='labelItem.svg' :src="labelItem.svg" type="image/svg+xml"></img>

                            <div class='lable-string'>{{labelItem.Name}}</div>
                            <i class="fas fa-angle-left list-open-switch"
                            :style="labelItem.opened == true?'transform: rotate(-90deg);':''"
                            ></i>
                        </div>
                        <div class='main-toolbox-label-child-div'
                            :style="labelItem.opened == true?'height:'+labelItem.height+'px;':'height:0px;'"
                        >
                            <ul style="list-style: none;padding: 0 .5rem;" :id="labelItem.id">
                                <li 
                                    v-for="(listItem, index) of labelItem.List" 
                                    class='main-toolbox-label-btn child-toolbox-label-btn'
                                >
                                    <a
                                    v-if="listItem.Type == 'URL'"
                                    :class='chosedPage==labelName+"."+listItem.Name?"main-toolbox-label-btn-active":""'
                                    class='main-toolbox-label-flex'
                                    :href="listItem.URL"
                                    target='_blank'
                                    @click="changePage(listItem, labelName+'.'+listItem.Name)"
                                    >
                                        <i class='lable-icon' v-if='listItem.icon != undefined' :class="listItem.icon"></i>
                                        <div class='lable-string' style='dispaly: flex;'>
                                            <div>{{listItem.Name}}</div>
                                            <!-- <i class="fas fa-external-link-alt"></i> -->
                                        </div>
                                    </a>

                                    <!-- 頁面切換(Page) -->
                                    <div
                                    :class='chosedPage==labelName+"."+listItem.Name?"main-toolbox-label-btn-active":""'
                                    class='main-toolbox-label-flex'
                                    v-else-if="listItem.Type == 'Page'"
                                    @click="changePage(listItem, labelName+'.'+listItem.Name)"
                                    >
                                        <i class='lable-icon' v-if='listItem.icon' :class="listItem.icon"></i>
                                        <div class='lable-string'>{{listItem.Name}}</div>
                                    </div>

                                </li>
                            </ul>
                        </div>


                    </div>
                </li>
            </ul>
        </div>

        <div id='main-info-window'>
            <div id='top-menu'>
                <i class="fas fa-bars top-menu-btn" @click="switchSmallToolBox()"></i>
                <div>
                    <i class="fas top-menu-btn" :class="isFullScreen==false?'fa-expand-arrows-alt':'fa-compress-arrows-alt'" @click="switchFullScreen()"></i>
                    <i class="fas fa-file-download top-menu-btn" @click="saveAsPDF()"></i>
                </div>
            </div>
            <div id='wrapper_page'>
                <div id="home-grid" v-show="Vue_mainToolBox.chosedPage == 'Home'">

                    <!-- <home-page-small-item id='teradata-info-small'>
                        <template v-slot:icon>
                            <i class="fas fa-dice-d6"></i>
                        </template>
                        <template v-slot:content>
                            <p>{{content}}</p>
                        </template>
                        <template v-slot:title>
                            <p>{{title}}</p>
                        </template>
                    </home-page-small-item>

                    <home-page-small-item id='feature-store-info-small'>
                        <template v-slot:icon>
                            <i class="fas fa-book"></i>
                        </template>
                        <template v-slot:content>
                            <p>{{content}}</p>
                        </template>
                        <template v-slot:title>
                            <p>{{title}}</p>
                        </template>
                    </home-page-small-item>
     -->

                    <div style='display: grid;grid-template-columns: repeat(2, 1fr);grid-column-gap: 10px;grid-row-gap: 1em;grid-template-rows: min-content auto;'>
                        <!-- <div style='display: grid;grid-template-columns: repeat(2, 1fr);'> -->
                            <home-page-small-item id='airjob-view'>
                                <template v-slot:icon>
                                    <airjob-icon class='box-small-card-icon' style='height: 2rem;'></airjob-icon>
                                </template>
                                <template v-slot:content>
                                    <p>{{dagJobNum}} Jobs</p>
                                </template>
                                <template v-slot:title>
                                    <p>AIRJOB 自主排程</p>
                                </template>
                            </home-page-small-item>
        
                            <home-page-small-item id='airflow-view'>
                                <template v-slot:icon>
                                    <airflow-icon class='box-small-card-icon' style='height: 2rem;'></airflow-icon>
                                </template>
                                <template v-slot:content>
                                    <p>{{dagJobNum}} Jobs</p>
                                </template>
                                <template v-slot:title>
                                    <p>Airflow 系統排程</p>
                                </template>
                            </home-page-small-item>
                        <!-- </div> -->
                        <!-- AIRJOB異常通知 -->
                        <div id='yesterday-fail-list-window' class="box-card">
                            <div class='box-card-header'>
                                <div class='box-card-title'>
                                    AIRJOB近七天異常通知
                                </div>
                            </div>
                            <div class='box-card-body'>
                                <div style="display: grid;position: relative;height: 100%;grid-auto-rows: auto;">
                                    
                                    <div 
                                        style="display: grid;position: relative;height: 100%;overflow: auto;grid-template-rows: min-content 1fr;"
                                    >
                                        <template v-if="failListAll == 'Loading'">
                                            <div class='loading-window text-v-center text-h-center'>
                                                <i class="fas fa-spinner anima-360-in-2-sec"></i>
                                                <label>Loading</label>
                                            </div>
                                        </template>
                                        <template v-else>
                                            <template v-if="Object.keys(failListAll).length == 0">
                                                沒有任何錯誤，太棒惹!
                                            </template>
                                            <template v-else>
                                                <p style='font-weight: 600;'>昨日異常數:{{Object.keys(failListAll).length}}</p>
                                                <div class='small-scrollbar' style="overflow: auto;">
                                                    <table class="dealut-table" style='width: 100%;'>
                                                        <colgroup>
                                                            <col span="2" style="width: 1px;">
                                                            <col style="">
                                                            <col style="">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th class='nowrap' style="max-width: 5rem;min-width: 5rem;">排程ID</th>
                                                                <th class='nowrap' style="max-width: 5rem;min-width: 5rem;">Owner</th>
                                                                <th class='nowrap'>排程時間</th>
                                                                <th class='nowrap' style="max-width: 5rem;min-width: 5rem;">最後失敗執行時間</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <template v-for="inn in [...Array(300).keys()]"> -->
                                                            <tr v-for="(failInfo, dag_id, index) in failListAll">
                                                                <td>
                                                                    <a
                                                                        :href="airjobURL+'AirFlowUploadWeb/testHTML/'+dag_id.split('_')[0]+'/?Page=dagInfoView&dag_id='+dag_id"
                                                                        target="_blank"
                                                                    >{{dag_id}}</a>
                                                                </td>
                                                                <td style='position: relative;'><div class='nowrap text-overflow-hidden'>{{failInfo.owner}}</div></td>
                                                                <td style='position: relative;'><div class='nowrap text-overflow-hidden'>{{failInfo.scheduleString}}</div></td>
                                                                <td style='position: relative;'>
                                                                    <a
                                                                        :href="airjobURL+'AirFlowUploadWeb/testHTML/'+dag_id.split('_')[0]+'/?Page=dagInfoView&dag_id='+dag_id+'&SheetChose=Runs_history&dag_run_id='+failInfo.LastFail.dag_run_id.replace('+','%2B')"
                                                                        style='white-space: nowrap;'
                                                                        target="_blank"
                                                                    >{{new Date(failInfo.LastFail.execution_date).format('(w) yyyy-MM-dd hh:mm:ss')}}</a>
                                                                    <!-- <div class='nowrap text-overflow-hidden'>{{new Date(failInfo.failList[0].execution_date).format('(w) yyyy-MM-dd hh:mm:ss')}}</div> -->
                                                                </td>
                                                                
                                                            </tr>
                                                            <!-- </template> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </template>
                                        </template>
                
                                    </div>
                                    
                                    <div v-if='false'>
                                        <template v-for="(projectName, index) in projectList">
                                            <!-- <input :id="'fail-window-'+projectName" type="radio" :value="projectName" v-model="projectChosed"> -->
                                            <label class="btn-base" :for="'fail-window-'+projectName"
                                                :class="projectChosed==projectName?'btn-style-primary':'btn-style-close'"
                                                style='margin-right: .75rem;'
                                            >{{projectName}}
                                                <input style='display: none;' :id="'fail-window-'+projectName" type="radio" :value="projectName" v-model="projectChosed">
                                            </label>
                                        </template>
                                    </div>
                                    <hr v-if='false' style="width:100%;">
                                    <div v-if='false' 
                                        v-for="(projectName, index) in projectList" 
                                        v-show="projectName == projectChosed"
                                        style="display: grid;position: relative;height: 100%;overflow: auto;"
                                    >
                                        <template v-if="failList[projectName] == 'Loading'">
                                            <div class='loading-window text-v-center text-h-center'>
                                                <i class="fas fa-spinner anima-360-in-2-sec"></i>
                                                <label>Loading</label>
                                            </div>
                                        </template>
                                        <template v-else>
                                            <template v-if="Object.keys(failList[projectName]).length == 0">
                                                沒有任何錯誤，太棒惹!
                                            </template>
                                            <template v-else>
                                                <p style='font-weight: 600;'>昨日異常數:{{Object.keys(failList[projectName]).length}}</p>
                                                <div class='small-scrollbar' style="overflow: auto;">
                                                    <table class="dealut-table" style='width: 100%;'>
                                                        <colgroup>
                                                            <col span="2" style="width: 1px;">
                                                            <col style="">
                                                            <col style="">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th class='nowrap' style="max-width: 5rem;min-width: 5rem;">排程ID</th>
                                                                <th class='nowrap' style="max-width: 5rem;min-width: 5rem;">Owner</th>
                                                                <th class='nowrap'>排程時間</th>
                                                                <th class='nowrap' style="max-width: 5rem;min-width: 5rem;">執行時間</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <template v-for="inn in [...Array(300).keys()]"> -->
                                                            <tr v-for="(failInfo, dag_id, index) in failList[projectName]">
                                                                <td><a
                                                                        :href="airjobURL+'AirFlowUploadWeb/testHTML/'+projectName+'/?Page=dagInfoView&dag_id='+dag_id"
                                                                        target="_blank"
                                                                    >{{dag_id}}</a></td>
                                                                <td style='position: relative;'><div class='nowrap text-overflow-hidden'>{{failInfo.owner}}</div></td>
                                                                <td style='position: relative;'><div class='nowrap text-overflow-hidden'>{{failInfo.scheduleString}}</div></td>
                                                                <td style='position: relative;'><div class='nowrap text-overflow-hidden'>{{new Date(failInfo.failList[0].execution_date).format('(w) yyyy-MM-dd hh:mm:ss')}}</div></td>
                                                                
                                                            </tr>
                                                            <!-- </template> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </template>
                                        </template>
                
                                    </div>
                                </div>
                            </div>
                            <div class='box-card-footer'>
                                <div></div>
                                <a class='moreButton'>More..</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id='url-description-window'>
                    <div style='padding: 15px 22.5px;'>
                        <h1 style='font-size: 1.8rem;margin: 0;'>{{title}}</h1>
                        <h3 style='color: gray;margin: 0;'>{{content}}</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
<script type="text/javascript" src="/static/TreeStudioAPIs/MainToolBox/VueSetting.js"></script>
<script type="text/javascript" src="/static/TreeStudioAPIs/HomePage/VueSetting.js"></script>
<script type="text/javascript" src="/static/TreeStudioAPIs/TopMenu/VueSetting.js"></script>
<script type="text/javascript" src="/static/TreeStudioAPIs/URLdescriptionWindow/VueSetting.js"></script>
<script type="text/javascript" src="/static/TreeStudioAPIs/LoadingWindow/VueSetting.js"></script>

</html>
<!-- {% endverbatim %} -->